<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if @current_user %>
              <li><%= link_to "profile" , account_path %></li>
              <li><%= link_to "logout" , signout_path %></li>
              <li><%= gravatar_for @current_user %></li>
          <% else %>
            <li><%= link_to "Home",    '#' %></li>
            <li><%= link_to "Help",    '#' %></li>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>